/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
.container {
  	max-width: 1400px;
  	margin: 0 auto;
}

/*Header*/

.mainHeader{
	display:flex;
	
}

.mainHeader .navbar {
	width:100%;
	display:flex;
	align-items:center;
	align-content:space-between;
}

.mainHeader .navbar ul {
	display:flex;
	justify-content:space-evenly;
	width:100%;
}

.mainHeader .navbar ul li a {
	color:#ccc;
	text-decoration:none;
	font-size:20px;
}

.service{
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:80%;
	margin:20px 10%;
}


/*Content*/

.content .topTwo {
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin:20px 0 0 0;
}

.content .middleTwo {
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}

.content .bottomTwo {
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin:0 0 20px 0;
}




.digital{
	width:35%;
	border: solid black 1px;
	padding:20px;
	background-color:oldlace;
	margin:0px 0px 10px 0px;
}

.ui{
	width:35%;
	border: solid black 1px;
	padding:20px;
	background-color:oldlace;
	margin:0px 0px 10px 0px;
}

.marketing{
	width:35%;
	border: solid black 1px;
	padding:20px;
	background-color:oldlace;
	margin:0px 0px 10px 0px;
}

.web{
	width:35%;
	border: solid black 1px;
	padding:20px;
	background-color:oldlace;
	margin:0px 0px 10px 0px;
}

.ios{
	width:35%;
	border: solid black 1px;
	padding:20px;
	background-color:oldlace;
	margin:0px 0px 10px 0px;
}

.android{
	width:35%;
	border: solid black 1px;
	padding:20px;
	background-color:oldlace;
	margin:0px 0px 10px 0px;
}

.learn{
	color:#ccc;
	text-decoration:none;
	font-size:10px;
	border: solid black 1px;
	margin: 10px 0px 0px 10px ;
	padding:5px 25px;
	border-radius:5px;
}

p{
	margin:0px 0px 20px 0px;
}

hr{
	border: 3px black solid;
	width:80%;
}

/*Footer*/

.facts{
	display:flex;
	justify-content:center;
	width:80%;
	margin:20px 10%;
}

.factP{
	margin:0 40px 0 0;
}

footer .copyright {
  text-align: center;
	margin:40px 0 10px 0;
}

.services-info-img{
	width:40%;
	height:40%;
}

li{
	list-style-type:square;
	margin:0 0 10px 25px;
}





















